<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="SauceDemo Test Suite">
    <test name="Login, Add to Cart, and Checkout Test">
        <classes>
            <class name="com.juaracoding.LoginTest"/>
            <class name="com.juaracoding.AddToCartTest"/>
            <class name="com.juaracoding.CheckoutTest"/>
        </classes>
    </test>
</suite>
